<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.discoveryone">

    <application>
        <activity
            android:name=".testutils.ContainerTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.EmptyTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ListenForStringResultTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ListenForStringResultTestButReceiverWrongResultTypeActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ReturnStringValueTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ListenForStringResultFromDialogTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ReturnIntValueTestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ReturningValueSequence1TestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ReturningValueSequence2TestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ReturningValueSequence3TestActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".testutils.ListenForStringResultFromTestActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>
